  <div class="col-sm-3">
    <ul>
      <li><%= link_to "Gestions des chemins", admin_ways_path %> </li>
      <li><a href="#">Menu Item 3</a></li>
      <li><a href="#">Menu Item 4</a></li>
      <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
    </ul>
  </div>


