
<div class="container-fluid nav-filters">
  <div class="row">
    <div class="col-12 col-md-6 filters">
      <a href="#"><i class="fa fa-angle-down"></i> A proximité </a>
    </div>
    <div class="col-12 col-md-6 filters">
      <a href="#"><i class="fa fa-angle-down"></i> ma position <i class="fa fa-location-arrow"></i></a></div>
  </div>
</div>


