<div class="demo" style="background: #273035;">
        <div class="container">
            <div class="row text-center">
                <h1 class="heading-titel">CSS Pricing Table</h1>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Standard</h3>
                                <span>Lorem ipsum</span>
                            </span>
                            <span class="price-value">$<span>10.9</span><span class="month">monthly</span><span class="special">join</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa fa-cogs"></i>50GB Disk Space</li>
                                <li><i class="fa fa-diamond"></i>50 Email Accounts</li>
                                <li><i class="fa fa-paper-plane"></i>50GB Monthly Bandwidth</li>
                                <li><i class="fa fa-heart"></i>50 Domains</li>
                                <li><i class="fa fa-globe"></i>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error facere laboriosam maiores minus modi officiis quaerat!
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Business</h3>
                                <span>Lorem ipsum</span>
                            </span>
                            <span class="price-value">$<span>20.9</span><span class="month">monthly</span><span class="special">join</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa fa-cogs"></i>60GB Disk Space</li>
                                <li><i class="fa fa-diamond"></i>60 Email Accounts</li>
                                <li><i class="fa fa-paper-plane"></i>60GB Monthly Bandwidth</li>
                                <li><i class="fa fa-heart"></i>60 Domains</li>
                                <li><i class="fa fa-globe"></i>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error facere laboriosam maiores minus modi officiis quaerat!
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Premium</h3>
                                <span>Lorem ipsum</span>
                            </span>
                            <span class="price-value">$<span>30.9</span><span class="month">monthly</span><span class="special">join</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa fa-cogs"></i>70GB Disk Space</li>
                                <li><i class="fa fa-diamond"></i>70 Email Accounts</li>
                                <li><i class="fa fa-paper-plane"></i>70GB Monthly Bandwidth</li>
                                <li><i class="fa fa-heart"></i>70 Domains</li>
                                <li><i class="fa fa-globe"></i>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error facere laboriosam maiores minus modi officiis quaerat!
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Extra</h3>
                                <span>Lorem ipsum</span>
                            </span>
                            <span class="price-value">$<span>40.9</span><span class="month">monthly</span><span class="special">join</span></span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><i class="fa fa-cogs"></i>80GB Disk Space</li>
                                <li><i class="fa fa-diamond"></i>80 Email Accounts</li>
                                <li><i class="fa fa-paper-plane"></i>80GB Monthly Bandwidth</li>
                                <li><i class="fa fa-heart"></i>80 Domains</li>
                                <li><i class="fa fa-globe"></i>Unlimited Subdomains</li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->
                        <div class="pricingTable-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error facere laboriosam maiores minus modi officiis quaerat!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
